<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>LAYOUT BAŞLIK</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/assets/css/docs.css">
    <link rel="stylesheet" href="~/assets/css/highlighter.css">
    <link rel="stylesheet" href="~/assets/css/adminlte.min.css">
</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <center>@RenderBody()</center>
        </main>
    </div>

<footer class="main-footer">
    <div class="float-right d-none d-sm-inline">

    </div>
    <strong>Copyright &copy; 2014 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
</footer>



    <script src="~/assets/js/adminlte.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
