@{
    ViewData["Title"] = "Home Page";
}

<h1>TodoList</h1>


<h2>Pazar Günü Yapılacaklar.</h2>
<p>
    Deniz, kum, şenzlong
</p>
<h2>Savaştan Sonra Yapılacaklar.</h2>
<p>
    Uyku
</p>
<h2>Gün Sonunda Yapılacaklar</h2>
<p>
    Code
</p>
<h2>Senden sonra Yapılacaklar</h2>
<p>
    Code
</p>